.center-h{
    margin: auto;
    padding-top: 10%;
    
}

#titleHeader{
    color: #707070;
    font-family: arial;
    font-size: 32px;
    margin: auto;
    text-align: center;

}

#logo{
    display: block;
    margin: auto;

}
